/* 회게관리 */
.footer .tab_btn a.tab03 p{
    color: #292D77;
}
.acc_mgt{
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
}
.acc_mgt .list_zone{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.acc_mgt .list_zone > label{
    position: absolute;
    background-image: none;
    padding-left: 0;
    width: calc((100% - 1.6rem) / 3);
    margin-top: .9rem;
    text-align: center;
    display: inline-block;
    height: 1.7rem;
    line-height: 1.5rem;
    font-size: .6rem;
    font-weight: 700;
    color: #7d7c78;
    border: .15rem solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 1rem;
    z-index: 5;
}
.tab01{
    left: .8rem;
}
.tab02{
    left: calc(((100% - .8rem) / 3) + .4rem);
}
.list_zone::before{
    content: '';
    width: 50%;
    height: 1.7rem;
    background-color: #F5F5F5;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: .9rem;
    z-index: 5;
}
.tab03{
    right: .8rem;
}
.acc_mgt .list_zone input[type="radio"]:checked ~ label{
    background-image: none;
}
.acc_mgt #radio01:checked ~ .tab01{color: #fff; background-color: #409AFF;}
.acc_mgt #radio01:checked ~ .tabbox01{display: block;}
.acc_mgt #radio02:checked ~ .tab02{color: #fff; background-color: #409AFF;}
.acc_mgt #radio02:checked ~ .tabbox02{display: block;}
.acc_mgt #radio03:checked ~ .tab03{color: #fff; background-color: #409AFF;}
.acc_mgt #radio03:checked ~ .tabbox03{display: block;}

.acc_mgt .tabbox{
    width: 100%;
    display: none;
    padding:4.1rem 0 2rem;
}
.acc_mgt .tabbox01{
    position: relative;
}
/* .acc_mgt .tabbox01 h4{
    font-size: .7rem;
    font-weight: 700;
    margin-bottom: .9rem;
    line-height: 1rem;
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .05rem dashed #DBDBDB;
    padding-bottom: .9rem;
}
.acc_mgt .tabbox01 h4 p{
    font-size: .7rem;
} */
.acc_mgt .top{
    padding:0 1rem 1.5rem;
    border-bottom: .55rem solid #F7F7F7;
}
.acc_mgt .top > div{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: .65rem;
}
.acc_mgt .top > div:last-child{margin-bottom: 0;}

.acc_mgt .top p{
    font-size: .65rem;
    font-weight: 500;
    line-height: 1rem;
    color: #B1B1B6;
}
.acc_mgt p strong{
    color: #111;
    font-weight: 700;
    font-size: .9rem;
    margin-left: .5rem;
}
.acc_mgt .margin strong{
    color: #13BD7E;
}

.acc_mgt .tabbox01 .list_wrap{
    width: 100%;
    border: .05rem solid transparent;
    position: relative;
}
.acc_mgt .tabbox01 ul{
    padding: 0 1rem;
    margin-bottom: 1.3rem;
}
.acc_mgt .tabbox01 ul:first-child{
    margin-top: 1.9rem;

}
.acc_mgt .tabbox01 ul .date{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
    line-height: .85rem;
}
.acc_mgt .tabbox01 ul .date p{
    width: 1000%;
    font-size: .6rem;
    font-weight: 500;
    line-height: .65rem;
    color: #7D7C78;
    position: relative;
}
.acc_mgt .tabbox01 ul .date p::after{
    content: '';
    width: calc(100% - 4.4rem);
    height: .05rem;
    background-color: #e5e5ec;
    position: absolute;
    top: .35rem;
    right: 0;
    display: inline-block;
}
.acc_mgt .tabbox01 ul .date p span{
    font-size: .65rem;
    font-family: 'Roboto';
    letter-spacing: 0;
    font-weight: 700;
}
.acc_mgt .tabbox01 ul .btns{
    position: absolute;
    top: .6rem;
    right: 1rem;
}
.acc_mgt .tabbox01 ul .btns button{
    width: 3rem;
    height: 1.1rem;
    background-color: #F6F6F6;
    margin-left: 0.4rem;
    border-radius: 0.2rem;
    color: #ABC9FB;
    font-size: 0.5rem;
    font-weight: 400;
}
.acc_mgt .tabbox01 ul .btns button.active{
    color: #409AFF;
}

.acc_mgt .tabbox01 ul li{
    width: 100%;
    display: flex;
    margin-bottom: 1.75rem;
}
.acc_mgt .tabbox01 .left{
    width: 66%;
}
.acc_mgt .tabbox01 .right{
    width: 34%;
}
.acc_mgt .tabbox01 .left h2{
    display: flex;
}
.acc_mgt .tabbox01 .left h2 span{
    font-size: .65rem;
    line-height: 1rem;
    font-weight: 700;
    margin-bottom: .65rem;
    width: 2.4rem;
}
.acc_mgt .tabbox01 .left h2 button.blue{
    width: 3rem;
    height: 1rem;
    background-color: #0176F9;
    color: #fff;
    font-size: .5rem;
    border-radius: .2rem;
    margin-left: .1rem;
}
.acc_mgt .tabbox01 .left h2 button.gray{
    width: 3rem;
    height: 1rem;
    color: #fff;
    font-size: .5rem;
    border-radius: .2rem;
    margin-left: .1rem;
    background-color: #DBDBDB;
}
.acc_mgt .tabbox01 .left h2 button.indigo{
    width: 2.8rem;
    height: 1rem;
    color: #409aff;
    font-size: .5rem;
    border-radius: .1rem;
    margin-left: .1rem;
    background-color: #f6f6f6;
    font-weight: 700;
}
.acc_mgt .tabbox01 .left p{
    font-size: .55rem;
    color: #B1B1B6;
    line-height: .75rem;
}
.acc_mgt .tabbox01 .right dl{
    margin-bottom: .35rem;
}
.acc_mgt .tabbox01 .right dl dt{
    font-size: .55rem;
    line-height: .75rem;
    font-weight: 500;
    color: #B1B1B6;
}
.acc_mgt .tabbox01 .right dl dd{
    font-size: .55rem;
}
.acc_mgt .tabbox01 .right dl dd span{
    font-size: .65rem;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0;
}
.acc_mgt .tabbox01 .right dl .green{
    color: #13BD7E;
}
.acc_mgt .tabbox01 .right dl.blue dd{
    font-weight: 500;
}
.acc_mgt .tabbox01 button.before_btn{
    width: 4.4rem;
    height: 1.6rem;
    color: #7d7c78;
    border-radius: .2rem;
    background-color: #dbdbdb;
    font-size: .55rem;
    font-weight: 700;
    position: absolute;
    top: 4.1rem;
    right: 1rem;
}




/* tabbox01_1 */
.tabbox01_1 {
    padding: 1.3rem 0.6rem 5rem;
}
.day .top_box,
.tabbox01_1 .top_box{
    width: 100%;
    padding: 0 1rem 1.5rem;
    border-bottom: .55rem solid #F7F7F7;
}
.day .top_box h3,
.tabbox01_1 .top_box h3{
    font-size: .9rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.tabbox01_1 .top_box h3 select{
    background-color: #f6f6f6;
    width: 4.5rem;
    height: 1.6rem;
    font-size: 0.55rem;
    font-weight: 500;
    border: 0;
    border-radius: .2rem;
    color: #7d7c78;
    margin-top: -.2rem;

}
.day .top_box dl,
.tabbox01_1 .top_box dl{
    margin-bottom: 0.7rem;
}
.day .top_box dl:last-child,
.tabbox01_1 .top_box dl:last-child{
    margin-bottom: 0;
}
.day .top_box dl dt,
.tabbox01_1 .top_box dl dt{
    font-size: .65rem;
    color: #B1B1B6;
    line-height: 1rem;
}
.day .top_box dl dd,
.tabbox01_1 .top_box dl dd{
    font-size: .9rem;
    font-weight: 700;
    line-height: 1rem;
    float: left;
    margin-left: .7rem;
}
.day .top_box dl dd.green,
.tabbox01_1 .top_box dl dd.green{
    color: #13BD7E;
}
/* .tabbox01_1 .top_box .info{
    display: flex;
} */
/* .tabbox01_1 .top_box .left,
.tabbox01_1 .top_box .right{
    padding-top: 0.7rem;
} */
/* .tabbox01_1 .top_box .left{
    margin-left: 1.6rem;
    width: 4rem;
}
.tabbox01_1 .top_box .left p{
    font-size: 0.75rem;
    color: #959595;
    text-align: center;
}
.tabbox01_1 .top_box .left div{
    width: 4rem !important;
    height: 1rem;
    line-height: 0.95rem;
    color: #fff;
    background-color: #999;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 0.2rem;
    margin-top: 0.35rem ;
}
.tabbox01_1 .top_box .right{
    margin-right: 1.1rem;
    width: calc(100% - 4rem);
}
.tabbox01_1 .top_box .right p{
    font-size: 0.75rem;
    color: #959595;
    text-align: right;
}
.tabbox01_1 .top_box .right div{
    width: 5rem;
    height: 1rem;
    line-height: 0.95rem;
    color: #fff;
    background-color: #292D77;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 0.2rem;
    float: right;
    margin-top: 0.35rem;
} */








.tabbox01_1 h2{
    font-size: 0.7rem;
    font-weight: 500;
    color: #B1B1B6;
    border-bottom: 0.05rem solid #f6f6f6;
    line-height: 0.8rem;
    padding-bottom: 0.5rem;
}

.tabbox01_1 .more{
    text-align: center;
    margin-top: 1.3rem;
}
.tabbox01_1 .more p{
    font-size: 0.6rem;
    color: #dbdbdb;
    margin-bottom: 0.75rem;
}
.tabbox01_1 .more button{
    width: 6.8rem;
    height: 1.9rem;
    background-color: #dbdbdb;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.2rem;
}
.tabbox01_1 .list_box li {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0.7rem 0;
}
.tabbox01_1 .list_box li h1{
    width: 100%;
    font-size: 0.65rem;
    font-weight: 700;
    color: #000;
    line-height: 0.75rem;
    margin-bottom: 0.35rem;
}
.tabbox01_1 .list_box li .left_box,
.tabbox01_1 .list_box li .right_box{
    width: 50%;
}
.tabbox01_1 .list_box li .left_box p{
    font-size: 0.6rem;
    color: #959595;
    line-height: 0.85rem;
    margin-bottom: 0.25rem;
}
.tabbox01_1 .list_box li .right_box{
    display: flex;
    height: 1.05rem;
    line-height: 1.05rem;
    justify-content: right;
}
.tabbox01_1 .list_box li .right_box p{
    font-size: 0.75rem;
    font-weight: 500;
    color: #13BD7E;
    line-height: .9rem;
    height: .9rem;
}
.tabbox01_1 .list_box li .right_box span{
    width: 0.4rem;
    line-height: 1.05rem;
    margin-left: 0.5rem;
    margin-top: -0.1rem;
}
.tabbox01_1 .list_box li .right_box span img{
    width: 100%;
    opacity: .5;
}
.tabbox01_1 .wrap{
    padding: 1.15rem 1rem 0;
}




.chart_wrap{
    position: relative;
    width: 100%;
    margin-top: 0.4rem;
    height: calc(100% - 3.5rem);
}



.line_chart{
    width: 100%;
    padding: 0 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* GRAPH - 1 */
.chart_wrap #graph-1 {
  stroke: #02BC77;
  stroke-width: 0.6;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  -moz-animation: lineani 1.3s linear forwards;
  -webkit-animation: lineani 1.3s linear forwards;
  animation: lineani 1.3s linear forwards;
  opacity: .7;
}

.chart_wrap #poly-1 {
  fill: none;
}

.chart_wrap #graph-2 {
    stroke: #02BC77;
    stroke-width: 0.6;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    -moz-animation: lineani 1.3s linear forwards;
    -webkit-animation: lineani 1.3s linear forwards;
    animation: lineani 1.3s linear forwards;
  }

  .chart_wrap #poly-2 {
    fill:  none;
  }

@-moz-keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lineani {
  to {
    stroke-dashoffset: 0;
  }
}

.charts-container {
  width: 100%;
  max-width: 51.2rem;
  display: inline-block;
}

.charts {
  position: relative;
  float: right;
  width: 100%;
  height: auto;
}











/* 통계탭 */
.tabbox02{
    padding: 0 0.6rem;
}
.tabbox02 .top{position: relative;}
.tabbox02 .top h4{
    font-size: .7rem;
    font-weight: 700;
    margin-bottom: .45rem;
}
.tabbox02 .top p.total{
    font-size: 1.4rem;
    color: #13BD7E;
    font-weight: 700;
}
.tabbox02 .top select{
    width: 4.5rem;
    height: 1.6rem;
    background-color: #f6f6f6;
    border: 0;
    border-radius: .2rem;
    position: absolute;
    top: 0;
    right: 0.8rem;
    color: #7d7c78;
    font-size: .55rem;
    font-weight: 500;
}
.tabbox02 .select_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.3rem;
}
.tabbox02 .select_wrap input + label{
    width: 3.1rem !important;
    height: 1.3rem !important;
    line-height: 1.25rem !important;
    border: 0.05rem solid #E5E5EC;
    border-radius: 0.75rem;
    background-color: #fff;
    color: #767676;
    font-size: 0.6rem !important;
    font-weight: 400 !important;
    margin: 0 0.25rem;
    text-align: center;
    padding-left: 0;
    background-image: none;
}
.tabbox02 .select_wrap input:checked + label{
    width: 3.1rem;
    height: 1.3rem;
    border: 0.05rem solid #0176F9;
    border-radius: 0.75rem;
    background-color: #fff;
    color: #0176F9;
}
.tabbox02 .stats{
    width: 100%;
    margin-top: 0.75rem;
    border-radius: 0.2rem;
    padding: 1.3rem 0 1.8rem;
    border-bottom: .55rem solid #F6F6F6;
}
.tabbox02 .stats h4{
    padding: 0 0.8rem 0;
    margin-bottom: 1.3rem;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.8rem;
}
.tabbox02 .stats .bar_wrap {
    padding: 0 0.8rem;
}
.tabbox02 .stats .bar_wrap .text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    line-height: 1rem;
    position: relative;
}
.tabbox02 .stats .bar_wrap .text p{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 0.9rem;
    padding-left: 1rem;
    color: #333;
}
.tabbox02 .stats .bar_wrap .text p::before{
    content: '';
    width: .35rem;
    height: .35rem;
    border-radius: .35rem;
    background-color: #409aff;
    display: inline-block;
    position: absolute;
    top: .2rem;
    left: .2rem;
    
}
.tabbox02 .stats .bar_wrap .text span{
    font-size: 0.8rem;
    line-height:0.9rem;
    font-weight: 700;
    color: #111;
}
.tabbox02 .stats .bar_wrap .text span >span{
    font-size: 0.7rem;
}
.tabbox02 .stats .bar_wrap .text p.yellow::before{
    background-color: #FFAA00;
}
.tabbox02 .stats .bar_wrap .text p.red::before{
    background-color: #dc0000;
}
.tabbox02 .stats .bar_graph{
    width: 100%;
    height: 0.5rem;
    border-radius: 0.4rem;
    background-color: #ccc;
    margin: 1.4rem 0 0;
    display: flex;
    overflow: hidden;
}
.tabbox02 .stats .blue_bar{
    background-color: #409AFF;
    height: 100%;
}
.tabbox02 .stats .red_bar{
    background-color: #dc0000;
    height: 100%;
}
.tabbox02 .stats .yellow_bar{
    background-color: #FFAA00;
    height: 100%;
}










/* 비용/고정자산탭 */
.tabbox03{
    min-height: calc(100vh - 4.7rem);
    position: relative;
}
.tabbox03 .top_box{
    width: 100%;
    padding: 0 1rem 1.5rem;
}
.tabbox03 .top_box >div{
    margin-bottom: 0.9rem;
}
.tabbox03 .top_box >div:last-child{
    margin-bottom: 0;
}
.tabbox03 .top_box .top_wrap b{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1rem;
}
.tabbox03 .top_box .top_wrap p{
    font-size: 0.9rem;
    display: inline-block;
    font-weight: 700;
    line-height: 1rem;
    color: #409AFF;
}
.tabbox03 .top_box .bottom_wrap b{
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1rem;
}
.tabbox03 .top_box .bottom_wrap p{
    font-size: 0.9rem;
    display: inline-block;
    font-weight: 700;
    line-height: 1rem;
}
.tabbox03 .list_box{
    position: relative;
    padding: 1.6rem 1rem 0;
    border-top: .55rem solid #f7f7f7;
}
.tabbox03 .list_box h4{
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}
.tabbox03 .list_box ul li{
    border-top: 0.05rem solid #ecece5;
    padding-left: 1.1rem ;
    padding-right: 1.1rem ;
}
.tabbox03 .list_box ul li:last-child{
    border-bottom: .05rem solid #e5e5ec;
}
.tabbox03 .list_box ul li{
    padding: .75rem 0;
    display: flex;
    justify-content: space-between;
    line-height: 0.7rem;
}
.tabbox03 .list_box ul li .left span{
    font-size: 0.7rem;
    line-height: 0.8rem;
    font-weight: 700;
    color: #333;
}
.tabbox03 .list_box ul li .left p{
    font-size: 0.6rem;
    line-height: 0.7rem;
    color: #B1B1B6;
    margin-top: 0.25rem;
}
.tabbox03 .list_box .right_price{
    text-align: right;
    line-height: 0.7rem;
}
.tabbox03 .list_box .right_price span{
    font-size: 0.6rem;
    color: #B1B1B6;
    text-align: right;
    line-height: 0.7rem;
}
.tabbox03 .list_box .right_price p{
    font-size: 0.7rem;
    color: #000;
    text-align: right;
    line-height: 0.8rem;
    margin-top: .3rem;
    font-weight: 500;
}
.tabbox03 .add_btn{
    width: 4rem;
    height: 1.7rem;
    color: #fff;
    border-radius: 0.2rem;
    background-color: #409AFF;
    position: absolute;
    right: 1.1rem;
    top: 1.1rem;
    text-align: center;
    line-height: 1.7rem;
    font-size: 0.7rem;
    font-weight: 700;
}