@media (min-width:1000px){
    .header{
        /* max-width: 25rem; */
        margin: 0 auto;
    }
    body, html{
        /* max-width: 25rem; */
        margin: 0 auto;
    }
    .contain{
        margin: 0 auto;
    }
}

/* moblie css */
@media (min-width:600px) {
    
    .main .section02 .section02_top{
        flex-flow: row !important;
    }
    .main .section02 .box03,
    .main .section02 .box04{
        margin-top: 0 !important;
        height: 8.25rem !important;
        margin-left: 0.5rem;
    }
    .main .section02 .box02{
        margin-left: 0.5rem;
    }
}