.popup{
	border-radius: .25rem;
	overflow: hidden;
}
.popup .title {
	position:relative;
	text-align:center;
	font-size:1.125rem;
	padding: .625rem;
	background-color:#2a3042;
	color:#fdfdfd;
	margin: 0
}

.popup .title .b-close {
	position:absolute;
	right: 1.375rem;
	top: .25rem;
	cursor:pointer;
	font-size:1.5rem
}

.popup .title .b-close:hover {
	opacity: .7;
}

.popup .inner {
	padding: 1.5rem;
	min-height:auto;
	background-color:#f5f5f8;
}


.b-modal{ -webkit-tap-highlight-color:transparent !important;}