.as_pop{
    display: none;
    width: 1400px;
}
.as_pop .inner{
    padding: 34px 32px 40px;
    background-color: #fff !important;
    height: 626px;
}
.as_pop table{border:0}
.as_pop table th{
    height: 38px;
    background-image: none;
    background-color: #fafafa !important;
    border: 1px solid #e5e5ec !important;
    border-left: 0 !important;
    color: #111;
    font-size: 0.875rem;
    padding: 0;
    margin: 0;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    box-shadow: none;
}
.as_pop table th:first-child {
    border-left: 1px solid #e5e5ec !important;
}
.as_pop table td{
    height: 38px;
    background-color: #fff !important;
    color: #111;
    font-size: 14px;
    border-top: 0;
    border-left: 0;
    border-right: 0.063rem solid #E5E5EC !important;
    border-bottom:0.063rem solid #E5E5EC;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    box-shadow: none;
}
.as_pop .g50{
    color: #505050;
}
.as_pop table tr td:first-child{
    border-left: 1px solid #e5e5ec !important;
}
.as_pop table td input[type="checkbox"] + label{
    background-image: url(/public/img/empty_chk.png);
    background-size: 24px;
    padding-left: 0;
    width: 24px;
    height: 24px;
}
.as_pop table td input[type="checkbox"]:checked + label{
    background-image: url(/public/img/blue_chk.png);
}
.as_pop table td input[type="text"] {
    width: 47px;
    max-width: none;
    height: 26px !important;
    /* border-radius: 0; */
    font-size: 14px;
    color: #111;
}
.as_pop table td input[type="text"]:focus{
    border-color: #DBDBDB;
}
.as_pop table td input.T-left{
    text-align: left !important;
}
.as_pop .h-scroll{
    height: 426px;
    margin-bottom: 14px;
}
/* .as_pop .text_zone{
    height: 80px;
    width: 370px;
    margin:35px auto 36px;
    border-radius: 4px;
    border: 1px solid #e5e5ec;
}
.as_pop .text_zone textarea{
    width: 100%;
    height: 100%;
    background-color: none;
    border: none;
    box-shadow: 0;
    padding: 10px 14px;
}
.as_pop .text_zone textarea::placeholder{
    font-size: 14px;
    color: #767676;
}
.as_pop .text_zone textarea:focus{box-shadow: none;} */
.as_pop .input_box{
    width: 100%;
    margin-bottom: 14px;
    text-align: center;
}
.as_pop .input_box .datepicker{
    margin: 0 auto;
    width: 140px;
    height: 36px;
    font-size: 14px;
    border-bottom: 1px solid #707070;
    background-color: #f5f5f8;
    border-radius: 4px 4px 0 0 !important;
    background-image: url(/public/img/calender_img.png);
    background-size: 16px;
    background-position: 92% center ;
    background-repeat: no-repeat;
}
.as_pop .btn_zone{
    display: flex;
    justify-content: center;
}
.as_pop .btn_zone button{
    width: 140px;
    height: 42px;
    background-color: #FFAA00;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    border-radius: 4px;
}