/* business css */

.input-zone dt::before,
.input-zone dt span::before{
	content:none;
    width: 10px;
    display: inline-block;
}

.input-zone dt.important::before {
	content:'*';
	color:#FF9BA1;
	font-weight:bold
}

/* sale_in */

.sale_in .input-zone {
	/* height: 590px; */
	height: -webkit-calc(100% - 73px);
	height: -moz-calc(100% - 73px);
	height:calc(100% - 73px);
	overflow:auto
}

.sale_in .radiochk {
	padding-top: 4px !important;
	height: 25px !important;
}

.sale_in .input-zone form {
	height: 100%;
}

.sale_in .input-table tr:hover td {
	background-color:#fff
}

.sale_in .radiochk span {
	display:inline-block;
	margin: 0 5px;
	text-align:left
}

.sale_in table input[type='text'],
.sale_in table input[type='tel'],
.sale_in table input[type='number'],
.sale_in table select {
	width: 75%;
}

.sale_in tr.hidden {
	display:none
}

.sale_in select.w150p {
	width: 150px
}

.sale_in .dl-height {
	background-color:#fff;
	height:100%;
}

.sale_in #sp_item{
	width:100%;
	text-align:center;
	padding:27px 0;
	display:block;
	background-color:#eee;
}

/* 2020-06-22 레이아웃 변경 */
.sale_in #left-component {
	width: 410px;
}

.sale_in #left-component .pretty-split-pane-component-inner {
	min-width:400px;
}

.sale_in #vertical-divider {
	left: 410px;
}

.sale_in #right-component {
	left: 410px;
}
.sale_in #right-component  .pretty-split-pane-component-inner {
	min-width:1000px;
}

.sale_in .h-scroll {
	height: 580px;
	height: -webkit-calc(100% - 110px);
	height: -moz-calc(100% - 110px);
	height: calc(100% - 110px);
}

.tail-box {
	text-align:right;
	padding:7px 10px;
}
/* 2020-06-30 테이블 높이 수정 */
.sale_in .input-zone .dl-height dl{
	width:100%;
}
.sale_in .input-zone .dl-height dl dt.rad{
	padding: 4px 7px 0 !important;
	height:25px !important;
}
.sale_in .input-zone .dl-height dl dt{
	height:24.5px;
	padding: 3px 17px 3px !important;
	width:110px;
}
.sale_in .input-zone .dl-height dl .important{
	padding: 3px 7px 3px  !important;
}

.sale_in .input-zone .dl-height dl dd{
	height:24.5px;
	padding:3px 5px 3px  !important;
	width:calc(100% - 110px);
}
.sale_in .dl-height input,
.sale_in .dl-height select{
	height:18px;
}

.sale_in .input-zone dd.half{
	width: calc(50% - 110px) !important;
}


.sale_in .input-zone dd.half.long{
	width: calc(50% - 90px) !important;
}


.sale_in .input-zone dt.short{
	width: 80px !important;
}
.sale_in .input-zone dd.half.short{
	width: calc(50% - 100px) !important;
}
/* 테이블 thead top고정 */

.table-sor table {
	width:100%;
	border-top:0px;
}

.table-sor table thead tr th{
	border-top:1px solid #ccc;
}

.table-sor {
	height:625px;
	height: -webkit-calc(100% - 106px);
	height: -moz-calc(100% - 106px);
	height: calc(100% - 106px);
	overflow: auto;
	background-color: #fff;
}
.fixedHeader{
	position: sticky;
	top:0;
}


/* 2020-06-30 */
.sale-in-popup {
	width: 350px !important;
}
.sale-in-popup .item-zone table tr{
	height:30px;
}

.sale-in .item-zone #dv_in{
	width:100%;
	text-align: center;
}
.sale-in .item-zone table td input{
	text-align: left;
	max-width:90%;
}
.sale-in table tr td {
    background-color: #fff;
}
#dv_in,
#dv_up button{
	margin-top:10px;
}

.sale_in .important::before {
    padding-right: 0px;
}

.possible{
	border-color:blue;
	color:blue;	
	padding: 2px;	
	border: 1px solid blue;
}

.impossible{
	border-color:red;
	color:red;		
	padding: 2px;			
	border: 1px solid red;
}

/* sale_in css 수정 210915 성시은 */
.salein_s .salein-table{
	min-width: 2400px;
}
/* 2020-06-22 레이아웃 변경 */
.salein_s #left-component {
	width: 490px;
}

.salein_s #left-component .pretty-split-pane-component-inner {
	min-width:480px;
}

.salein_s #vertical-divider {
	left: 490px;
}

.salein_s #right-component {
	left: 490px;
}
.salein_s #right-component  .pretty-split-pane-component-inner {
	min-width:1000px;
}
.salein_s .table-sor{
	height: calc(100% - 110px);
}
.salein_s .input-zone{
	height: calc(100% - 77px);
}

/* 사용여부 토글 버튼 */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 22px !important;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	height: 21px !important;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #45ADF9;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #45ADF9;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(36px);
	-ms-transform: translateX(36px);
	transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 28px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  .offtxt{
	  color: #777;
	  font-size: 13px;
	  width: 100%;
	  position: relative;
	  right: 15px;
	  top: 2px;
	  text-align: right;
	  display: inline-block;
	  transition: .4s;
  }
  .ontxt{
	  color: #fff;
	  font-size: 13px;
	  width: 100%;
	  position: relative;
	  top: 1px;
	  left: 15px;
	  text-align: left;
	  display: none;
	  height: 10px;
	  transition: .4s;
  }
  input:checked ~ .offtxt{
	  display: none;
  }
  
  input:checked ~ .ontxt{
	display: inline-block;
}
.phrases{
	margin-bottom: 0px !important;
}
.salein_s span.hint_icon{
	margin-top: -2px;
}
.salein_s p.hint_box{
	position: absolute;
	z-index: 99;
	top: 300px;
	left:510px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 4px 10px;
	text-align: left;
	font-size: 12px;
	color: #555;
	word-break:normal;
	display: none;
	width: auto;
}
.salein_s p.hint_box02{
	top:397px;
	left:510px;
}